body {
  background-color: #EED3FF
}

img {
  width: 25%;
  height: 25%;
  background: url(../ellovett.github.io/blanaid.jpg)
  background-attatchment: fixed;
  background-position: center;
}

a {
  text-align: center;
  display: block;
  margin: 0 auto;
}



