body {
  background-color: #EED3FF
}

div {
  background: url(../ellovett.github.io/blanaid.png)
  background-repeat: no-repeat;
  background-attatchment: fixed;
  background-position: center;
}

a {
  text-align: center;
  display: block;
  margin: 0 auto;
}



