body {
  background-color: #EED3FF
}

/* had put background-color:#EED3FF and color: #785086 in body, 
but the page came out in black and white */

h1 {
  font-family: Georgia;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #785086;
}

h2 {
  font-family: Georgia;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #785086;
}

#education {
  font-family: Georgia;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #785086;
}

p {
  font-family: Georgia;
  font-size: 18px;
  font-weight: bold;
  color: #785086;
}

ul {
  font-family: Georgia;
  font-size: 18px;
  color: #785086;
}

a {
  font-family: Georgia;
  font-size: 20px;
  font-weight: bold;
  color: #EA5DC1;
  text-align: center;
  display: block;
  margin: 0 auto;
}